*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.joke{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.but{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(212,174,58,1) 0%, rgba(238,0,117,1) 100%);
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 20px;
    margin: 6px 0px;
}
.joked{
    line-height: 40px;
    font-size: 25px;
    color: aliceblue;
    text-shadow: 4px 4px 4px black;
    border: 1px solid;
    border-radius: 15px;
    padding: 4.5px;
    margin: 5px 0px;
    background: linear-gradient(328deg, rgba(182,55,30,1)0%,rgba(123,0,238,1)100%);
}